    <div class="main_chat_header">
      <div class="room_name">
        <a href="#"><%= @room.name %></a>
      </div>
      <div class="chat_end">
        <a href="#">チャットを終了する</a>
      </div>
    </div>
    <div class="main_chat_view">
     <%= render partial: 'message', collection: @messages %>
    </div>
    <%# <div class="main_chat_view">
      <div class="message_box">
        <div class="message_info">
          <div class="message_user">
          Tom
          </div>
          <div class="message_date">
          2022/10/7(Fri) 12:43:30
          </div>
        </div>
        <div class="message_content">
        おはよう
        </div>
      </div>
      <div class="message_box">
        <div class="message_info">
          <div class="message_user">
          Mike
          </div>
          <div class="message_date">
          2022/10/7(Fri) 12:43:30
          </div>
        </div>
        <div class="message_content">
        こんにちは
        </div>
      </div>
    </div> %>
<%= form_with model: [@room, @message], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :content, class: 'form-message', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'form-submit' %>
<% end %>